<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>
        Dashboard
    </title>
    <script type="text/javascript" src="{% static 'js/echarts.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'js/macarons.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'js/shine.js' %}" charset="UTF-8"></script>
    <link rel="stylesheet" href="../static/css/mystyle.css" />
</head>

<body>
<!--main container-->
<script>
    alert("message");
</script>
<div id="maincontainer">
    <div style="height:40px; padding-top:1%; margin-top:0; padding-left:3%; background:#000000; color:#FFFFFF">
        <div style="width:50%; height:100%; float:left; display:inline">GIGA<b>COW</b></div>
        <div style="width:10%; height:100%; float:right; display:inline">
            <b><a href="{% url 'login' %}" target="_self" style="text-decoration: none; color: darkgray">Sign Out</a></b>
        </div>
    </div>
    <marquee behavior="scroll" direction="left" loop="3" onmouseover="this.stop()" onmouseout="this.start()">
        <b>Here is the activity reminder.</b>
    </marquee>
    <!--top half-->
        <div id="top" style="width: 100%; height: 200px; margin-top: 0; margin-bottom:0.5%">
            <!--cow requiring actions-->
            <div name="todo" id="todo" style="width:20%; height: 100%; border-radius:18px; margin-left:2%; float:left; display: inline; box-shadow: 10px 10px 5px #888888;">
                <center><!--b> Cow requiring actions<b-->
               <table rules="rows" width="95%">
                    <tr>
                        <th style=" height:40px" bgcolor="#CAE1FF">Activity</th>
                        <th style=" height:40px" bgcolor="#CAE1FF">Status</th>
                    <tr>
                        <td style="text-align:center; height:40px">Feed</td>
                        <td style="text-align:center; height:40px"><input type="button" value="On going" style="height:85%; font-size:15px; background-color:#00CC00; border-radius:15px;color:white; border:none"></td>
                    <tr>
                        <td style="text-align:center; height:40px">Milk activity</td>
                        <td style="text-align:center; height:40px"><input type="button" value="Complete" style="height:85%; font-size:15px; background-color:#CD661D; border-radius:15px;color:white; border:none"></td>
               </table></center>
            </div>

            <div style="width:20%; height: 100%; margin-left:1%; border-radius:18px; float:left; display: inline; box-shadow: 10px 10px 5px #888888">
                <center><b>Bad economy cows</b></center>
                <div style="width:80%; height:63%; margin-top:2%; margin-left:8%; border:5px solid #FAEBD7; border-radius:18px;">
                <center>
                    2292, 587, 3326, 1076, 4597, 1124, 2500, 4379, 2739, 4586, 2060, 1499, 2910, 2242, 4187, 2266, 138, 2973, 620, 751
                    <p>(example)
                </center>
                </div> 
                <div style="width:95%;height:5%; font-size:10px; padding-left:2%">
                    *Less than 25kg, 2 milking, *Less than 20kg one milking,*Many kickoffs. 
                 </div>
            </div>

            <!--plots-->
            <div style="width:55%; height: 100%; border-radius:18px; margin-left:.5%; float:left; display: inline; box-shadow: 10px 10px 5px #888888;">
            <!--avg_milk_vm-->
                <div style="padding-bottom:1%"><b><center>Average milk vm</center></div>
                <div id="avg_milk_vm" style="height:100%; width:100%; float:middle">
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('avg_milk_vm'));
                            option = {
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross',
                                    label: {
                                        backgroundColor: '#6a7985'
                                    }
                                }
                            },
                            legend: {
                                data: ['milk vm1', 'milk vm2','milk vm1 & vm2']
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                }
                            },
                        
                            xAxis: {
                                type: 'category',
                                name: 'Date',
                                nameLocation: 'middle',
                                nameGap: 20,
                                boundaryGap: true,
                                data: {{Date|safe}}
                            },
                            yAxis: {
                                type: 'value',
                                min:1000,
                                interval:500,
                                name: 'Milk volume'
                            },
                            series: [{
                                data: {{vm1|safe}},
                                name: 'milk vm1',
                                type: 'bar',
                                stack: 'one',
                                barWidth : 30,
                                areaStyle: {}
                            },
                            {
                                data: {{vm2|safe}},
                                name: 'milk vm2',
                                type: 'bar',
                                stack: 'one',
                                barWidth : 30,
                                areaStyle: {}
                            },
                            {
                                data:{{vm_all|safe}},
                                name:'milk vm1 & vm2',
                                type: 'line',
                                label:{
                                normal:{
                                    show: true,
                                    position: 'top',
                                }
                            }

                            }]

                        };

                            myChart.setOption(option);
                        </script>
                    </div>

            </div>

        </div> 
        <!--bottom half-->
        <div id="bottom" style="width: 100%; height: 440px; margin-bottom:.5%; background: #FFFFFF">
            <!--cow actions per day (last 7 days)-->
            <div style="width: 20%; height:100%; border-radius:18px; margin-left:2%; box-shadow: 10px 10px 5px #888888; float:left; display: inline"> 
            <div style="padding:1%"><b><center>Cow actions per day (last 7 days)</center></div>
            <div id="cow_actions" style="height: 90%">
                    <script type="text/javascript">
                        var myChart = echarts.init(document.getElementById('cow_actions'));
                        option = {
                        xAxis: {
                            type: 'category',
                            name: 'Date',
                            nameLocation: 'middle',
                            nameGap:25,
                            boundaryGap: false,
                            data: {{Date|safe}}
                        },
                        yAxis: {
                            type: 'value',
                            name: 'Counts'
                        },
                        legend: {
                                data: ['kickoffs', 'smartgate']
                        },
                        series: [{
                            data: {{kickoffs|safe}},
                            name: 'kickoffs',
                            type: 'line',
                            label:{
                                normal:{
                                    show: true,
                                    position: 'top',
                                },
                            },
                        },
                        {
                            data: {{smartgate|safe}},
                            name: 'smartgate',
                            type: 'line',
                            label:{
                                normal:{
                                    show: true,
                                    position: 'top',
                                }
                            }
                        }]
                    };

                        myChart.setOption(option);
                    </script>
                </div>

            </div>
                
            <!--values for milk produce-->
            <div style="width: 20%; height: 100%; float: left; display: inline; margin-left:1%"> 
                <div style="width: 100%; height: 50%; border-radius:18px; box-shadow: 10px 10px 5px #888888; margin-bottom:1%">
                    <!--average milking per cow-->
                    <div id="avg_milk_per_cow" style="height: 100%">
                        <script type="text/javascript">
                            var myChart = echarts.init(document.getElementById('avg_milk_per_cow'));
                            option = {
                            title:{text:'Milk per cow'},
                            xAxis: {
                                type: 'category',
                                name: 'Date',
                                nameLocation: 'middle',
                                nameGap:25,
                                boundaryGap: false,
                                data: {{Date|safe}}
                            },
                            yAxis: {
                                type: 'value',
                            },
                            legend: {
                                    data: ['average milk per cow', 'average nr milking per cow']
                            },
                            series: [{
                                data: {{avg_per_cow|safe}},
                                name: 'average milk per cow',
                                type: 'line',
                                label:{
                                    normal:{
                                        show: true,
                                        position: 'top',
                                    }
                                },
                            },
                            {
                                data: {{avg_nr_milking_per_cow|safe}},
                                name: 'average nr milking per cow',
                                type: 'line',
                                label:{
                                    normal:{
                                        show: true,
                                        position: 'top',
                                    }
                                },
                                areaStyle: {}
                            }]
                        };

                            myChart.setOption(option);
                        </script>
                    </div>
                </div>
                <div style="width: 100%; height: 50%; border-radius:18px; box-shadow: 10px 10px 5px #888888; margin-top:3%">
                    <!--average time in robot-->
                <div id="time_in_robot" style="height:100%">
                    <script type="text/javascript">
                        var myChart = echarts.init(document.getElementById('time_in_robot'));
                        option = {
                        title:{text:'Average time in robot'},
                        xAxis: {
                            type: 'category',
                            name: 'Date',
                            nameLocation: 'middle',
                            nameGap:25,
                            boundaryGap: false,
                            data: {{Date|safe}}
                        },
                        yAxis: {
                            type: 'value',
                            min: 6.5,
                            interval: 0.2
                        },
                        series: [{
                            data: {{time_in_robot|safe}},
                            type: 'line',
                            label:{
                                normal:{
                                    show: true,
                                    position: 'top',
                                }
                            },
                        }]
                    };
                    myChart.setOption(option);
                    </script>
                </div>
                </div>
            </div>
                   
             <div style="width: 55%; height: 100%; border-radius:18px; box-shadow: 10px 10px 5px #888888; margin-left: 1%;float: left; display: inline"> 
                <div style="width:100%; height:30%; margin-top:1%; padding-top:2%"> 
                    <div style="width:30%;height:100%; display:inline; float:left">
                        <div><center>Laction 0-100</center></div>
                        <div id="laction1" style="width:100%; height:95%; padding-left:1%; margin:0">
                            <script type="text/javascript">
                                var myChart = echarts.init(document.getElementById('laction1'));
                                option = {
                                    tooltip: {
                                        formatter: '{a} <br/>{b} : {c}%'
                                    },
                                    series: [
                                        {
                                            type: 'gauge',
                                            radius: '100%',
                                            center:["50%","55%"],
                                            startAngle: 180,        // 仪表盘起始角度,默认 225。圆心 正右手侧为0度，正上方为90度，正左手侧为180度。
                                            endAngle: 0,
                                            splitNumber: 2,
                                            detail: {formatter: '{value}kg'},
                                            data: [{value:{{lact_0_100|safe}}, name: ''}]
                                        }
                                    ]
                                };
                                myChart.setOption(option);
                                </script>
                        </div>
                    </div>


                     <div style="width:30%;height:100%; display:inline; float:left">
                        <div><center>Laction 101-200</center></div>
                        <div id="laction2" style="width:100%; height:95%; padding-left:1%; margin:0">
                            <script type="text/javascript">
                                var myChart = echarts.init(document.getElementById('laction2'));
                                option = {
                                    tooltip: {
                                        formatter: '{a} <br/>{b} : {c}%'
                                    },
                                    series: [
                                        {
                                            type: 'gauge',
                                            radius: '100%',
                                            center:["50%","55%"],
                                            startAngle: 180,        // 仪表盘起始角度,默认 225。圆心 正右手侧为0度，正上方为90度，正左手侧为180度。
                                            endAngle: 0,
                                            splitNumber: 2,
                                            detail: {formatter: '{value}kg'},
                                            data: [{value:{{lact_101_200|safe}}, name: ''}]
                                        }
                                    ]
                                };
                                myChart.setOption(option);
                                </script>
                        </div>
                    </div>
                    

                    <div style="width:30%;height:100%; display:inline; float:left">
                        <div><center>Laction 201-</center></div>
                        <div id="laction3" style="width:100%; height:95%; padding-left:1%; margin:0">
                            <script type="text/javascript">
                                var myChart = echarts.init(document.getElementById('laction3'));
                                option = {
                                    tooltip: {
                                        formatter: '{a} <br/>{b} : {c}%'
                                    },
                                    series: [
                                        {
                                            type: 'gauge',
                                            radius: '100%',
                                            center:["50%","55%"],
                                            startAngle: 180,        // 仪表盘起始角度,默认 225。圆心 正右手侧为0度，正上方为90度，正左手侧为180度。
                                            endAngle: 0,
                                            splitNumber: 2,
                                            detail: {formatter: '{value}kg'},
                                            data: [{value:{{lact_201|safe}}, name: ''}]
                                        }
                                    ]
                                };
                                myChart.setOption(option);
                                </script>
                        </div>
                    </div>
                        
                </div>
             <div style="width:100%; height:65%">
                    <div style="padding-top:1%"><b><center>Milk to tank yesterday (last 10 days)</center></div>
                    <div id="milk_yesterday" style="height:95%; padding:0; margin:0">
                        <script type="text/javascript">
                        var myChart = echarts.init(document.getElementById('milk_yesterday'));
                        option = {
                        xAxis: {
                            type: 'category',
                            name: 'Date',
                            nameLocation: 'middle',
                            nameGap:25,
                            boundaryGap: true,
                            data: {{Date|safe}}
                        },
                        yAxis: {
                            type: 'value',
                            name: 'Milk volume',
                        },
                        series: [{
                            data: {{milk_yesterday|safe}},
                            type: 'line',
                            label:{
                                normal:{
                                    show: true,
                                    position: 'top',
                                }
                            },
                        }]
                    };
                    myChart.setOption(option);
                    </script>
                 </div>
                
            </div>
         
        </div>   
             
</div>

</body>
</html>